body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* the layout of the legend panel */
#legend {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    bottom: 0;
    right: 0;
    width: 200px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
}

/* each line for a break */
.break {
    position: relative;
    margin: 0px;
    padding: 0px;
}

/* basic style for a dot/circle */
.dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

/* the label for the dot */
.dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: black;
    background-color: white;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 85%;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

#features {
    top: 0;
    height: 200px;
    margin-top: 10px;
    width: 250px;
}

a {
    color: black;
}